
.brandName{
    font-size: 23px;
}

.backImg{
    top: 16px;
    position: relative;
    height: 572px;
    width: 884px;
}

.carousel-control-prev {
    height: 43px;
    position: relative;
    left: 140px;
    top: 282px;
}

.carousel-control-next {
    height: 43px;
    position: relative;
    left: 643px;
    top: 230px;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -393px;
    left: 42px;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
}

.carousel-inner {
    width: 548px;
    top: -447px;
    height: 337px;
    right: -180px;
}

.carousel-inner{
    bottom: -415px;
}

.mt-lg-0{
    padding: 63px;
    top: -17px;
    position: relative;
    padding-bottom: 0;
    padding-top: 0;
}

.images{
    height: 478px;
    width: 874px;
    padding: 8px;
    position: absolute;
}

.myCard{
    width: 100%;
    height: 279px;
    background: #a15105;
    border-radius: 10px;
}
.myCard>i{
    color: black;
    font-size: 7em;
    text-align: center;
    display: block;
    padding-top: 35px;
}

.myCard>h1{
    color: white;
    font-size: 2em;
    text-align: center;
    font-family: Ubuntu;
    padding-top: 20px;
}

.myCard>h2{
    color: white;
    font-size: 3em;
    text-align: center;
    font-family: Ubuntu;
    padding-top: 2px;
}
